@charset "utf-8";
body footer {
    background-color: #C70000;
    color: #FFFFFF;
    padding-bottom: 0px;
    margin-top: -20px;
}
.row .col-lg-6 {
    background-color: #E7C306;
}
.container-fluid .row .col-xl-6 {
    background-color: #FFFFFF;
}
.div-6 {
}
body {
    background-color: #E7C306;
}

.row .col-lg-6 p {
    color: #E7C306;
    padding-left: 260px;
    margin-left: -16px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.row .col-xl-6 .text-justify {
    color: #E7C306;
}
.row .offset-xl-2.col-xl-3 {
    background-color: #DFDDD9;
    padding-bottom: 45px;
    padding-top: 24px;
    margin-right: -63px;
    margin-left: 379px;
    margin-top: 2px;
}
.row .offset-xl-2 {
    padding-right: 37px;
}
.row .offset-xl-3.col-xl-4 {
    background-color: #DFDDD9;
    margin-left: 49px;
    padding-top: 27px;
    padding-bottom: 27px;
}
.row .offset-xl-2.col-xl-4 {
}


.row .col-xl-5.offset-xl-2 {
    background-color: #DFDDD9;
}

.row .offset-xl-3.col-xl-5 {
    background-color: #DFDDD9;
}



.row .offset-xl-2.col-xl-3 br {
}





.row .col-xl-3.offset-xl-1 {
    background-color: #E7C306;
    padding-top: 24px;
    padding-bottom: 45px;
}
a h1 strong {
    color: #FFFFFF;
}
.col-xl-3 h5 strong {
    margin-left: 2px;
}

.col-xl-3 .class strong {
}
.navbar-nav.mr-auto .navlistitem .nav-link {
    color: #000000;
    padding-left: 81px;
    margin-right: 16px;
    margin-left: -10px;
}
.navbar-nav.mr-auto .navlistitem .nav-link.nav4 {
    padding-left: 595px;
    margin-left: 22px;

}
.row .col-xl-3.offset-xl-5 {
    margin-left: 332px;
}

.col-xl-3 .class strong {
}
.row .col-xl-3.col-7 {
    margin-right: 64px;
    padding-right: 24px;
    padding-left: 8px;
    padding-top: 20px;
}
#navbarSupportedContent2 .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {


}
.navbar-nav.mr-auto .account .nav-link {
    margin-left: 747px;
}
.row .col-xl-6 h5 {
    color: #000000;
}
.row .col-xl-6 h5 {
    color: #FFFFFF;
}
.row .col-xl-6 h5 {
    color: #000000;
}
.row .col-lg-6 .text-justify {
    margin-left: -22px;
}
.row .col-xl-3 img {
    margin-left: 45px;
}
.row .offset-xl-1.col-xl-4 img {
    margin-left: 108px;
}
.row .col-xl-3 img {
}
.row .col-xl-3.offset-xl-1 img {
}
.row .offset-xl-1.col-xl-4 img {
    margin-left: 129px;
}
.row .col-lg-6 .text-justify {
    margin-left: -1px;
}
div .text-left strong {
    color: #FFFFFF;
    font-size: 49px;
}
.offset-xl-1.col-xl-4 .text-left strong {
    font-size: 47px;
}

.row .col-lg-6 .text-justify {
    color: #000000;
}
.row .offset-xl-1.col-xl-4 .text-justify {
    color: #FFFFFF;
}
.offset-xl-2.col-xl-4 h1 strong {
}
.offset-xl-2.col-xl-4 h1 strong {
    color: #000000;
}

.offset-xl-2.col-xl-4 h1 strong {
    color: #FFFFFF;
}
div .text-left strong {
}


.row .offset-xl-2.col-xl-4 .text-justify {
    color: #FFFFFF;
}
div .text-left strong {
}
.col-xl-3 h5 strong {
}
div .text-left strong {
    color: #000000;
}

.row {



}

.row .col-lg-6.offset-xl-1.col-xl-5 {
}
.row .offset-xl-0.col-xl-5 p {
    color: #000000;
    font-size: larger;
    font-variant: normal;
    font-weight: 500;
}
.row .col-xl-5.offset-xl-1 p {
    font-size: larger;
    font-weight: 500;
}
.navlist .navlistitem a {
}
.row {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: -39px;
    margin-right: 5px;
}
.row .offset-xl-2.col-xl-4 .text-justify {
    color: #000000;
}
.row .col-lg-6 .text-justify {
    margin-left: -107px;
    color: #000000;
}
.offset-xl-2.col-xl-4 h1 strong {
    color: #000000;
}
.row .offset-xl-1.col-xl-4 .text-justify {
    color: #000000;
}
.row .col-lg-6 .text-justify {
    margin-left: -252px;
}
.container .container .container.atas {
    margin-top: 161px;
}
.container .container .container.UP {
    margin-top: 129px;
}
.text-center p {
    margin-top: 107px;
}
a h1 strong {
    color: #000000;
}
.navlist .navlistitem a {
    color: #000000;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    margin-top: 6px;
    padding-right: 0px;
    text-align: left;
    margin-left: 145px;
    font-weight: bold;
    margin-right: 26px;
}
.col-xl-6 .form-group.offset-xl-4.col-xl-8 #select {
    padding-left: 0px;
    margin-left: -15px;

}
.col-xl-6 .form-group.offset-xl-4.col-xl-8 #select {



}
.navbar-nav.mr-auto .home .nav-link {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    color: #FFFFFF;
    font-weight: bold;
}
.navbar-nav.mr-auto .about.us .nav-link {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    color: #FDFDFD;
    font-weight: bold;
}
.navbar-nav.mr-auto .services .nav-link {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    color: #FFFFFF;
    font-weight: bold;
}
.navbar-nav.mr-auto .gallery .nav-link {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    color: #FFFFFF;
    font-weight: bold;
}
.navbar-nav.mr-auto .contact.us .nav-link {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    color: #FFFFFF;
    font-weight: bold;
}
.navlist .navlistitem a {
    padding-right: 0px;
    font-weight: bold;
}
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand img {
    background-image: url(images/Untitled%20design.jpg);
}
.navlist .navlistitem a {
    margin-left: -36px;
}
.row .col-xl-6 .rounded {
    margin-right: 65px;
    margin-left: 247px;
    padding-right: 0px;
}
.row .col-xl-6 p {
}
.col-xl-3 a img {
}
.col-xl-3 a .img-fluid {
}
.col-xl-4 .text-center strong {
    margin-left: 68px;
}
.row .col-xl-3 .roll.up {
    margin-top: 12px;
}

.row .col-md-4.mb-4.offset-xl-1.col-xl-5 .img-fluid {
    margin-left: 327px;
    margin-top: -7px;
}
.row .col-md-4.mb-4 .img-fluid.rounded {
}
